#! /home/gho705/opt/iverilog/bin/vvp
:ivl_version "0.9.5 " "(v0_9_5)";
:vpi_time_precision + 0;
:vpi_module "system";
:vpi_module "v2005_math";
:vpi_module "va_math";
S_0x1d35b50 .scope module, "control_test" "control_test" 2 1;
 .timescale 0 0;
v0x1d5cd40_0 .net "ALUCTR", 0 3, v0x1d35d60_0; 1 drivers
v0x1d5cde0_0 .net "ALUSRC", 0 0, v0x1d5c140_0; 1 drivers
v0x1d5ce90_0 .net "BINSTR", 0 15, v0x1d5cb50_0; 1 drivers
v0x1d5cf40_0 .net "BRANCH", 0 0, v0x1d5c1e0_0; 1 drivers
v0x1d5d020_0 .net "BRANCH_NOTEQUAL", 0 0, v0x1d5c280_0; 1 drivers
v0x1d5d0d0_0 .net "EXTOP", 0 0, v0x1d5c330_0; 1 drivers
v0x1d5d150_0 .var "Instr", 0 31;
v0x1d5d200_0 .net "JINSTR", 0 23, v0x1d5cab0_0; 1 drivers
v0x1d5d2b0_0 .net "JUMP", 0 0, v0x1d5c3d0_0; 1 drivers
v0x1d5d360_0 .net "JUMP_LINK", 0 0, C4<z>; 0 drivers
v0x1d5d3e0_0 .net "JUMP_REG", 0 0, v0x1d5c550_0; 1 drivers
v0x1d5d490_0 .net "JUNP_LINK", 0 0, v0x1d5c4b0_0; 1 drivers
v0x1d5d540_0 .net "MEM2REG", 0 0, v0x1d5c640_0; 1 drivers
v0x1d5d5f0_0 .net "MEMWR", 0 0, v0x1d5c6e0_0; 1 drivers
v0x1d5d720_0 .net "REGDST", 0 0, v0x1d5c7e0_0; 1 drivers
v0x1d5d7d0_0 .net "REGFP_R", 0 0, v0x1d5c880_0; 1 drivers
v0x1d5d670_0 .net "REGFP_WR", 0 0, v0x1d5c990_0; 1 drivers
v0x1d5d940_0 .net "REGWR", 0 0, v0x1d5ca30_0; 1 drivers
S_0x1d35c40 .scope module, "ctr_signals" "control" 2 8, 3 1, S_0x1d35b50;
 .timescale 0 0;
v0x1d35d60_0 .var "ALUCtr", 0 3;
v0x1d5c140_0 .var "ALUSrc", 0 0;
v0x1d5c1e0_0 .var "Branch", 0 0;
v0x1d5c280_0 .var "Branch_NotEqual", 0 0;
v0x1d5c330_0 .var "ExtOp", 0 0;
v0x1d5c3d0_0 .var "Jump", 0 0;
v0x1d5c4b0_0 .var "Jump_Link", 0 0;
v0x1d5c550_0 .var "Jump_Reg", 0 0;
v0x1d5c640_0 .var "Mem2Reg", 0 0;
v0x1d5c6e0_0 .var "MemWr", 0 0;
v0x1d5c7e0_0 .var "RegDst", 0 0;
v0x1d5c880_0 .var "RegFp_R", 0 0;
v0x1d5c990_0 .var "RegFp_Wr", 0 0;
v0x1d5ca30_0 .var "RegWr", 0 0;
v0x1d5cb50_0 .var "branch_instruction", 0 15;
v0x1d5cbf0_0 .net "instr", 0 31, v0x1d5d150_0; 1 drivers
v0x1d5cab0_0 .var "jump_instruction", 0 23;
E_0x1d35d30 .event edge, v0x1d5cbf0_0;
    .scope S_0x1d35c40;
T_0 ;
    %wait E_0x1d35d30;
    %ix/load 1, 2, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.0, 4;
    %load/x1p 8, v0x1d5cbf0_0, 24;
    %jmp T_0.1;
T_0.0 ;
    %mov 8, 2, 24;
T_0.1 ;
; Save base=8 wid=24 in lookaside.
    %cassign/v v0x1d5cab0_0, 8, 24;
    %ix/load 1, 15, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.2, 4;
    %load/x1p 34, v0x1d5cbf0_0, 1;
    %jmp T_0.3;
T_0.2 ;
    %mov 34, 2, 1;
T_0.3 ;
    %mov 32, 34, 1; Move signal select into place
    %mov 33, 0, 1;
    %cmpi/u 32, 0, 2;
    %jmp/0xz  T_0.4, 4;
    %ix/load 1, 2, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.6, 4;
    %load/x1p 48, v0x1d5cbf0_0, 14;
    %jmp T_0.7;
T_0.6 ;
    %mov 48, 2, 14;
T_0.7 ;
    %mov 32, 48, 14; Move signal select into place
    %mov 46, 0, 2;
    %cassign/v v0x1d5cb50_0, 32, 16;
    %jmp T_0.5;
T_0.4 ;
    %ix/load 1, 2, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.8, 4;
    %load/x1p 64, v0x1d5cbf0_0, 14;
    %jmp T_0.9;
T_0.8 ;
    %mov 64, 2, 14;
T_0.9 ;
    %mov 48, 64, 14; Move signal select into place
    %mov 62, 1, 2;
    %cassign/v v0x1d5cb50_0, 48, 16;
T_0.5 ;
    %ix/load 1, 31, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.10, 4;
    %load/x1p 64, v0x1d5cbf0_0, 1;
    %jmp T_0.11;
T_0.10 ;
    %mov 64, 2, 1;
T_0.11 ;
; Save base=64 wid=1 in lookaside.
    %ix/load 1, 30, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.12, 4;
    %load/x1p 65, v0x1d5cbf0_0, 1;
    %jmp T_0.13;
T_0.12 ;
    %mov 65, 2, 1;
T_0.13 ;
; Save base=65 wid=1 in lookaside.
    %or 64, 65, 1;
    %ix/load 1, 29, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.14, 4;
    %load/x1p 65, v0x1d5cbf0_0, 1;
    %jmp T_0.15;
T_0.14 ;
    %mov 65, 2, 1;
T_0.15 ;
; Save base=65 wid=1 in lookaside.
    %or 64, 65, 1;
    %cassign/v v0x1d5c140_0, 64, 1;
    %ix/load 1, 31, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.16, 4;
    %load/x1p 65, v0x1d5cbf0_0, 1;
    %jmp T_0.17;
T_0.16 ;
    %mov 65, 2, 1;
T_0.17 ;
; Save base=65 wid=1 in lookaside.
    %ix/load 1, 30, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.18, 4;
    %load/x1p 66, v0x1d5cbf0_0, 1;
    %jmp T_0.19;
T_0.18 ;
    %mov 66, 2, 1;
T_0.19 ;
; Save base=66 wid=1 in lookaside.
    %inv 66, 1;
    %and 65, 66, 1;
    %ix/load 1, 29, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.20, 4;
    %load/x1p 66, v0x1d5cbf0_0, 1;
    %jmp T_0.21;
T_0.20 ;
    %mov 66, 2, 1;
T_0.21 ;
; Save base=66 wid=1 in lookaside.
    %and 65, 66, 1;
    %cassign/v v0x1d5c6e0_0, 65, 1;
    %ix/load 1, 31, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.22, 4;
    %load/x1p 66, v0x1d5cbf0_0, 1;
    %jmp T_0.23;
T_0.22 ;
    %mov 66, 2, 1;
T_0.23 ;
; Save base=66 wid=1 in lookaside.
    %ix/load 1, 30, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.24, 4;
    %load/x1p 67, v0x1d5cbf0_0, 1;
    %jmp T_0.25;
T_0.24 ;
    %mov 67, 2, 1;
T_0.25 ;
; Save base=67 wid=1 in lookaside.
    %inv 67, 1;
    %and 66, 67, 1;
    %ix/load 1, 29, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.26, 4;
    %load/x1p 67, v0x1d5cbf0_0, 1;
    %jmp T_0.27;
T_0.26 ;
    %mov 67, 2, 1;
T_0.27 ;
; Save base=67 wid=1 in lookaside.
    %inv 67, 1;
    %and 66, 67, 1;
    %cassign/v v0x1d5c640_0, 66, 1;
    %load/v 67, v0x1d5c140_0, 1;
    %ix/load 1, 28, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.28, 4;
    %load/x1p 68, v0x1d5cbf0_0, 1;
    %jmp T_0.29;
T_0.28 ;
    %mov 68, 2, 1;
T_0.29 ;
; Save base=68 wid=1 in lookaside.
    %or 67, 68, 1;
    %ix/load 1, 27, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.30, 4;
    %load/x1p 68, v0x1d5cbf0_0, 1;
    %jmp T_0.31;
T_0.30 ;
    %mov 68, 2, 1;
T_0.31 ;
; Save base=68 wid=1 in lookaside.
    %or 67, 68, 1;
    %inv 67, 1;
    %cassign/v v0x1d5c7e0_0, 67, 1;
    %ix/load 1, 27, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.32, 4;
    %load/x1p 68, v0x1d5cbf0_0, 5;
    %jmp T_0.33;
T_0.32 ;
    %mov 68, 2, 5;
T_0.33 ;
; Save base=68 wid=5 in lookaside.
    %cmpi/u 68, 9, 5;
    %mov 68, 4, 1;
    %ix/load 1, 29, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.34, 4;
    %load/x1p 69, v0x1d5cbf0_0, 3;
    %jmp T_0.35;
T_0.34 ;
    %mov 69, 2, 3;
T_0.35 ;
; Save base=69 wid=3 in lookaside.
    %cmpi/u 69, 5, 3;
    %or 68, 4, 1;
    %ix/load 1, 29, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.36, 4;
    %load/x1p 69, v0x1d5cbf0_0, 3;
    %jmp T_0.37;
T_0.36 ;
    %mov 69, 2, 3;
T_0.37 ;
; Save base=69 wid=3 in lookaside.
    %cmpi/u 69, 0, 3;
    %mov 69, 4, 1;
    %ix/load 1, 27, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.38, 4;
    %load/x1p 70, v0x1d5cbf0_0, 2;
    %jmp T_0.39;
T_0.38 ;
    %mov 70, 2, 2;
T_0.39 ;
; Save base=70 wid=2 in lookaside.
    %cmpi/u 70, 1, 2;
    %mov 70, 4, 1;
    %ix/load 1, 28, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.40, 4;
    %load/x1p 74, v0x1d5cbf0_0, 1;
    %jmp T_0.41;
T_0.40 ;
    %mov 74, 2, 1;
T_0.41 ;
    %mov 71, 74, 1; Move signal select into place
    %mov 72, 0, 2;
    %cmpi/u 71, 1, 3;
    %or 70, 4, 1;
    %and 69, 70, 1;
    %or 68, 69, 1;
    %jmp/0xz  T_0.42, 68;
    %ix/load 1, 29, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.44, 4;
    %load/x1p 68, v0x1d5cbf0_0, 3;
    %jmp T_0.45;
T_0.44 ;
    %mov 68, 2, 3;
T_0.45 ;
; Save base=68 wid=3 in lookaside.
    %cmpi/u 68, 5, 3;
    %jmp/0xz  T_0.46, 4;
    %set/v v0x1d5c1e0_0, 0, 1;
    %set/v v0x1d5c280_0, 0, 1;
    %set/v v0x1d5c3d0_0, 0, 1;
    %set/v v0x1d5c550_0, 0, 1;
    %set/v v0x1d5c4b0_0, 0, 1;
    %set/v v0x1d5ca30_0, 0, 1;
    %jmp T_0.47;
T_0.46 ;
    %ix/load 1, 31, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.48, 4;
    %load/x1p 70, v0x1d5cbf0_0, 1;
    %jmp T_0.49;
T_0.48 ;
    %mov 70, 2, 1;
T_0.49 ;
    %mov 68, 70, 1; Move signal select into place
    %mov 69, 0, 1;
    %cmpi/u 68, 0, 2;
    %mov 68, 4, 1;
    %ix/load 1, 30, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.50, 4;
    %load/x1p 71, v0x1d5cbf0_0, 1;
    %jmp T_0.51;
T_0.50 ;
    %mov 71, 2, 1;
T_0.51 ;
    %mov 69, 71, 1; Move signal select into place
    %mov 70, 0, 1;
    %cmpi/u 69, 0, 2;
    %mov 69, 4, 1;
    %and 68, 69, 1;
    %ix/load 1, 29, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.52, 4;
    %load/x1p 71, v0x1d5cbf0_0, 1;
    %jmp T_0.53;
T_0.52 ;
    %mov 71, 2, 1;
T_0.53 ;
    %mov 69, 71, 1; Move signal select into place
    %mov 70, 0, 1;
    %cmpi/u 69, 0, 2;
    %mov 69, 4, 1;
    %and 68, 69, 1;
    %ix/load 1, 28, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.54, 4;
    %load/x1p 72, v0x1d5cbf0_0, 1;
    %jmp T_0.55;
T_0.54 ;
    %mov 72, 2, 1;
T_0.55 ;
    %mov 69, 72, 1; Move signal select into place
    %mov 70, 0, 2;
    %cmpi/u 69, 1, 3;
    %mov 69, 4, 1;
    %and 68, 69, 1;
    %jmp/0xz  T_0.56, 68;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.58, 4;
    %load/x1p 70, v0x1d5cbf0_0, 1;
    %jmp T_0.59;
T_0.58 ;
    %mov 70, 2, 1;
T_0.59 ;
    %mov 68, 70, 1; Move signal select into place
    %mov 69, 0, 1;
    %cmpi/u 68, 0, 2;
    %jmp/0xz  T_0.60, 4;
    %set/v v0x1d5c1e0_0, 1, 1;
    %set/v v0x1d5c280_0, 0, 1;
    %jmp T_0.61;
T_0.60 ;
    %set/v v0x1d5c1e0_0, 0, 1;
    %set/v v0x1d5c280_0, 1, 1;
T_0.61 ;
    %set/v v0x1d5c3d0_0, 0, 1;
    %set/v v0x1d5c550_0, 0, 1;
    %set/v v0x1d5c4b0_0, 0, 1;
    %set/v v0x1d5ca30_0, 0, 1;
    %jmp T_0.57;
T_0.56 ;
    %ix/load 1, 27, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.62, 4;
    %load/x1p 68, v0x1d5cbf0_0, 5;
    %jmp T_0.63;
T_0.62 ;
    %mov 68, 2, 5;
T_0.63 ;
; Save base=68 wid=5 in lookaside.
    %cmpi/u 68, 9, 5;
    %jmp/0xz  T_0.64, 4;
    %set/v v0x1d5c3d0_0, 0, 1;
    %set/v v0x1d5c550_0, 1, 1;
    %set/v v0x1d5c4b0_0, 0, 1;
    %set/v v0x1d5c1e0_0, 0, 1;
    %set/v v0x1d5c280_0, 0, 1;
    %set/v v0x1d5ca30_0, 0, 1;
    %jmp T_0.65;
T_0.64 ;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.66, 4;
    %load/x1p 71, v0x1d5cbf0_0, 1;
    %jmp T_0.67;
T_0.66 ;
    %mov 71, 2, 1;
T_0.67 ;
    %mov 68, 71, 1; Move signal select into place
    %mov 69, 0, 2;
    %cmpi/u 68, 1, 3;
    %jmp/0xz  T_0.68, 4;
    %set/v v0x1d5c4b0_0, 1, 1;
    %set/v v0x1d5ca30_0, 1, 1;
    %jmp T_0.69;
T_0.68 ;
    %set/v v0x1d5ca30_0, 0, 1;
    %set/v v0x1d5c4b0_0, 0, 1;
T_0.69 ;
    %set/v v0x1d5c3d0_0, 1, 1;
    %set/v v0x1d5c550_0, 0, 1;
    %set/v v0x1d5c1e0_0, 0, 1;
    %set/v v0x1d5c280_0, 0, 1;
T_0.65 ;
T_0.57 ;
T_0.47 ;
    %jmp T_0.43;
T_0.42 ;
    %load/v 68, v0x1d5cbf0_0, 32;
    %cmpi/u 68, 19, 32;
    %inv 4, 1;
    %jmp/0xz  T_0.70, 4;
    %set/v v0x1d5ca30_0, 1, 1;
    %jmp T_0.71;
T_0.70 ;
    %set/v v0x1d5ca30_0, 0, 1;
T_0.71 ;
    %set/v v0x1d5c1e0_0, 0, 1;
    %set/v v0x1d5c280_0, 0, 1;
    %set/v v0x1d5c3d0_0, 0, 1;
    %set/v v0x1d5c550_0, 0, 1;
    %set/v v0x1d5c4b0_0, 0, 1;
T_0.43 ;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.72, 4;
    %load/x1p 68, v0x1d5cbf0_0, 6;
    %jmp T_0.73;
T_0.72 ;
    %mov 68, 2, 6;
T_0.73 ;
; Save base=68 wid=6 in lookaside.
    %cmpi/u 68, 0, 6;
    %jmp/0xz  T_0.74, 4;
    %load/v 68, v0x1d5cbf0_0, 6; Only need 6 of 32 bits
; Save base=68 wid=6 in lookaside.
    %cmpi/u 68, 32, 6;
    %jmp/1 T_0.76, 6;
    %cmpi/u 68, 33, 6;
    %jmp/1 T_0.77, 6;
    %cmpi/u 68, 34, 6;
    %jmp/1 T_0.78, 6;
    %cmpi/u 68, 35, 6;
    %jmp/1 T_0.79, 6;
    %cmpi/u 68, 36, 6;
    %jmp/1 T_0.80, 6;
    %cmpi/u 68, 37, 6;
    %jmp/1 T_0.81, 6;
    %cmpi/u 68, 38, 6;
    %jmp/1 T_0.82, 6;
    %cmpi/u 68, 40, 6;
    %jmp/1 T_0.83, 6;
    %cmpi/u 68, 41, 6;
    %jmp/1 T_0.84, 6;
    %cmpi/u 68, 42, 6;
    %jmp/1 T_0.85, 6;
    %cmpi/u 68, 43, 6;
    %jmp/1 T_0.86, 6;
    %cmpi/u 68, 44, 6;
    %jmp/1 T_0.87, 6;
    %cmpi/u 68, 45, 6;
    %jmp/1 T_0.88, 6;
    %cmpi/u 68, 4, 6;
    %jmp/1 T_0.89, 6;
    %cmpi/u 68, 6, 6;
    %jmp/1 T_0.90, 6;
    %cmpi/u 68, 7, 6;
    %jmp/1 T_0.91, 6;
    %jmp T_0.92;
T_0.76 ;
    %movi 68, 5, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.77 ;
    %movi 68, 5, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.78 ;
    %movi 68, 13, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.79 ;
    %movi 68, 13, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.80 ;
    %set/v v0x1d35d60_0, 0, 4;
    %jmp T_0.92;
T_0.81 ;
    %movi 68, 1, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.82 ;
    %movi 68, 2, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.83 ;
    %movi 68, 8, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.84 ;
    %movi 68, 9, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.85 ;
    %movi 68, 14, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.86 ;
    %movi 68, 12, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.87 ;
    %movi 68, 11, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.88 ;
    %movi 68, 10, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.89 ;
    %movi 68, 4, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.90 ;
    %movi 68, 7, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.91 ;
    %movi 68, 6, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.92;
T_0.92 ;
    %jmp T_0.75;
T_0.74 ;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.93, 4;
    %load/x1p 68, v0x1d5cbf0_0, 6;
    %jmp T_0.94;
T_0.93 ;
    %mov 68, 2, 6;
T_0.94 ;
; Save base=68 wid=6 in lookaside.
    %cmpi/u 68, 1, 6;
    %jmp/0xz  T_0.95, 4;
    %movi 68, 3, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.96;
T_0.95 ;
    %ix/load 1, 30, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.97, 4;
    %load/x1p 68, v0x1d5cbf0_0, 2;
    %jmp T_0.98;
T_0.97 ;
    %mov 68, 2, 2;
T_0.98 ;
; Save base=68 wid=2 in lookaside.
    %cmpi/u 68, 2, 2;
    %jmp/0xz  T_0.99, 4;
    %movi 68, 5, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.100;
T_0.99 ;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.101, 4;
    %load/x1p 68, v0x1d5cbf0_0, 6;
    %jmp T_0.102;
T_0.101 ;
    %mov 68, 2, 6;
T_0.102 ;
; Save base=68 wid=6 in lookaside.
    %cmpi/u 68, 8, 6;
    %jmp/1 T_0.103, 6;
    %cmpi/u 68, 9, 6;
    %jmp/1 T_0.104, 6;
    %cmpi/u 68, 10, 6;
    %jmp/1 T_0.105, 6;
    %cmpi/u 68, 11, 6;
    %jmp/1 T_0.106, 6;
    %cmpi/u 68, 12, 6;
    %jmp/1 T_0.107, 6;
    %cmpi/u 68, 13, 6;
    %jmp/1 T_0.108, 6;
    %cmpi/u 68, 14, 6;
    %jmp/1 T_0.109, 6;
    %cmpi/u 68, 20, 6;
    %jmp/1 T_0.110, 6;
    %cmpi/u 68, 22, 6;
    %jmp/1 T_0.111, 6;
    %cmpi/u 68, 23, 6;
    %jmp/1 T_0.112, 6;
    %cmpi/u 68, 24, 6;
    %jmp/1 T_0.113, 6;
    %cmpi/u 68, 25, 6;
    %jmp/1 T_0.114, 6;
    %cmpi/u 68, 26, 6;
    %jmp/1 T_0.115, 6;
    %cmpi/u 68, 27, 6;
    %jmp/1 T_0.116, 6;
    %cmpi/u 68, 28, 6;
    %jmp/1 T_0.117, 6;
    %cmpi/u 68, 29, 6;
    %jmp/1 T_0.118, 6;
    %cmpi/u 68, 4, 6;
    %jmp/1 T_0.119, 6;
    %cmpi/u 68, 5, 6;
    %jmp/1 T_0.120, 6;
    %jmp T_0.121;
T_0.103 ;
    %movi 68, 5, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.104 ;
    %movi 68, 5, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.105 ;
    %movi 68, 13, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.106 ;
    %movi 68, 13, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.107 ;
    %set/v v0x1d35d60_0, 0, 4;
    %jmp T_0.121;
T_0.108 ;
    %movi 68, 1, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.109 ;
    %movi 68, 2, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.110 ;
    %movi 68, 4, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.111 ;
    %movi 68, 7, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.112 ;
    %movi 68, 6, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.113 ;
    %movi 68, 8, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.114 ;
    %movi 68, 9, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.115 ;
    %movi 68, 14, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.116 ;
    %movi 68, 12, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.117 ;
    %movi 68, 11, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.118 ;
    %movi 68, 10, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.119 ;
    %movi 68, 13, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.120 ;
    %movi 68, 13, 4;
    %set/v v0x1d35d60_0, 68, 4;
    %jmp T_0.121;
T_0.121 ;
T_0.100 ;
T_0.96 ;
T_0.75 ;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.122, 4;
    %load/x1p 68, v0x1d5cbf0_0, 6;
    %jmp T_0.123;
T_0.122 ;
    %mov 68, 2, 6;
T_0.123 ;
; Save base=68 wid=6 in lookaside.
    %cmpi/u 68, 9, 6;
    %mov 68, 4, 1;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.124, 4;
    %load/x1p 69, v0x1d5cbf0_0, 6;
    %jmp T_0.125;
T_0.124 ;
    %mov 69, 2, 6;
T_0.125 ;
; Save base=69 wid=6 in lookaside.
    %cmpi/u 69, 11, 6;
    %or 68, 4, 1;
    %load/v 69, v0x1d5cbf0_0, 32;
    %movi 101, 67108886, 32;
    %cmp/u 69, 101, 32;
    %or 68, 4, 1;
    %jmp/0xz  T_0.126, 68;
    %set/v v0x1d5c330_0, 0, 1;
    %jmp T_0.127;
T_0.126 ;
    %set/v v0x1d5c330_0, 1, 1;
T_0.127 ;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.128, 4;
    %load/x1p 68, v0x1d5cbf0_0, 6;
    %jmp T_0.129;
T_0.128 ;
    %mov 68, 2, 6;
T_0.129 ;
; Save base=68 wid=6 in lookaside.
    %cmpi/u 68, 0, 6;
    %mov 68, 4, 1;
    %load/v 69, v0x1d5cbf0_0, 6; Only need 6 of 32 bits
; Save base=69 wid=6 in lookaside.
    %cmpi/u 69, 52, 6;
    %mov 69, 4, 1;
    %and 68, 69, 1;
    %jmp/0xz  T_0.130, 68;
    %set/v v0x1d5c880_0, 1, 1;
    %jmp T_0.131;
T_0.130 ;
    %set/v v0x1d5c880_0, 0, 1;
T_0.131 ;
    %ix/load 1, 26, 0;
    %mov 4, 0, 1;
    %jmp/1 T_0.132, 4;
    %load/x1p 68, v0x1d5cbf0_0, 6;
    %jmp T_0.133;
T_0.132 ;
    %mov 68, 2, 6;
T_0.133 ;
; Save base=68 wid=6 in lookaside.
    %cmpi/u 68, 0, 6;
    %mov 68, 4, 1;
    %load/v 69, v0x1d5cbf0_0, 6; Only need 6 of 32 bits
; Save base=69 wid=6 in lookaside.
    %cmpi/u 69, 53, 6;
    %mov 69, 4, 1;
    %and 68, 69, 1;
    %jmp/0xz  T_0.134, 68;
    %ix/load 0, 1, 0;
    %assign/v0 v0x1d5c990_0, 0, 1;
    %jmp T_0.135;
T_0.134 ;
    %ix/load 0, 1, 0;
    %assign/v0 v0x1d5c990_0, 0, 0;
T_0.135 ;
    %jmp T_0;
    .thread T_0, $push;
    .scope S_0x1d35b50;
T_1 ;
    %vpi_call 2 11 "$monitor", "instr=%b RegDst=%b RegWr=%b RegFp_Wr=%b Regfp_R=%b ExtOp=%b ALUSrc=%b MemWr=%b Mem2Reg=%b Branch=%b Branch_NotEqual=%b Jump=%b Jump_Reg=%b Jump_Link=%b ALUCtr=%b", v0x1d5d150_0, v0x1d5d720_0, v0x1d5d940_0, v0x1d5d670_0, v0x1d5d7d0_0, v0x1d5d0d0_0, v0x1d5cde0_0, v0x1d5d5f0_0, v0x1d5d540_0, v0x1d5cf40_0, v0x1d5d020_0, v0x1d5d2b0_0, v0x1d5d3e0_0, v0x1d5cd40_0;
    %delay 0, 0;
    %set/v v0x1d5d150_0, 0, 32;
    %delay 1, 0;
    %delay 1, 0;
    %movi 68, 32, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 16 "$display", "add";
    %delay 1, 0;
    %movi 68, 34, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 18 "$display", "sub";
    %delay 1, 0;
    %movi 68, 36, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 20 "$display", "and";
    %delay 1, 0;
    %movi 68, 52, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 23 "$display", "movfp2ip";
    %delay 1, 0;
    %movi 68, 53, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 25 "$display", "movi2fp";
    %delay 1, 0;
    %movi 68, 134217728, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 28 "$display", "jump";
    %delay 1, 0;
    %movi 68, 268435456, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 30 "$display", "branch";
    %delay 1, 0;
    %movi 68, 536870912, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 33 "$display", "addi";
    %delay 1, 0;
    %movi 68, 603979776, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 35 "$display", "addui";
    %delay 1, 0;
    %movi 68, 805306368, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 37 "$display", "andi";
    %delay 1, 0;
    %movi 68, 939524096, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 39 "$display", "xori";
    %delay 1, 0;
    %movi 68, 2348810240, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 42 "$display", "lw";
    %delay 1, 0;
    %movi 68, 2684354560, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 44 "$display", "sb";
    %delay 1, 0;
    %movi 68, 41, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 47 "$display", "sne";
    %delay 1, 0;
    %movi 68, 4, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 49 "$display", "sll";
    %delay 1, 0;
    %movi 68, 19, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 51 "$display", "nop";
    %delay 1, 0;
    %movi 68, 1476395008, 32;
    %set/v v0x1d5d150_0, 68, 32;
    %vpi_call 2 53 "$display", "srli";
    %end;
    .thread T_1;
# The file index is used to find the file name in the following table.
:file_names 4;
    "N/A";
    "<interactive>";
    "tests/control_test.v";
    "control.v";
